.main-btn {
		background: transparent;
		border: 1px solid teal;
		padding: 15px 20px;
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		color: black;
		text-transform: uppercase;
		font-weight: 600;
}